.album-section {
  padding: 20px;
  background-color: #121212;
  color: white;
}

.album-box {
  margin-bottom: 20px;
}

.album-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.toggle-btn {
  background-color: #34c94b;
  color: white;
  font-weight: bold;
  text-transform: none;
}


.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}


.album-grid.expanded {
  max-height: none;
  overflow: visible;
}


.album-grid.collapsed {
  max-height: 180px; 
  overflow: hidden;
}

.album-card {
  background-color: #1e1e1e;
}

.album-title {
  text-align: center;
  margin-top: 5px;
}
