.hero-container {
    width: 799px;
    height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #121212;
    margin-left: 220px;
    
}





