.logo {
    top: 20px;
    left: 32px;
    width: 67px;
    height: 34px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
